body {
  font-family: 'Noto Sans', sans-serif;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}
